/*************************************************************************************************************************
CROSSWORD STYLE SHEET
- contains styles used for crossword tests
*************************************************************************************************************************/

.table_header {
	padding: 5px;
	font-weight: bold;
	margin-bottom: 0px;
}

#header_question {
	width: 60%;
}

#header_answer {
	width: 60%;
}

#questions_table {
	width: 800px;
	border-width: 3px;
	border-style: solid;
}

.table_inputfield {
	width: 97%;
}

.filled_field, .empty_field {
	float: left;
	width: 30px;
	height: 30px;
	border-width: 1px;
	border-style: solid;
}

.filled_field {
	position: relative;
}

.number_container {
	position: absolute;
	font-size: 7pt;
	width: 28px;
	height: 7px;
	top: 0px;
	left: 0px;
	padding-left: 2px;
}

.letter_container {
	position: absolute;
	text-align: center;
	width: 30px;
	height: 20px;
	top: 7px;
	left: 0px;
}

.cw_row {
	display: flex;
}

#crossword_grid {
	margin: 10px auto;
	border-width: 1px;
	border-style: solid;
}

.delete_question_button {
	display: none;
	float: right;
	cursor: pointer;
	font-weight: bold;
	margin-right: 2px;
}

.correct_answer {
	display: inline;
}

.crossword_question {
	cursor: pointer;
}

.letter_input_field {
	width: 15px;
}
