/*************************************************************************************************************************
CROSSWORD STYLE SHEET
- contains styles used for crossword tests
*************************************************************************************************************************/

.correct_answer {
	display: inline;
}

#create_crossword, #save_test {
	margin-right: 0px;
}

#crossword_container {
	overflow: auto;
}

#crossword_grid {
	margin: 10px auto;
	border-width: 1px;
	border-style: solid;
}

.crossword_question {
	cursor: pointer;
}

.cw_row {
	display: -webkit-flex; /*for Safari*/
	display: flex;
}

.delete_question_button {
	display: none;
	float: right;
	cursor: pointer;
	font-weight: bold;
	margin-right: 2px;
}

.filled_field {
	position: relative;
}

.filled_field, .empty_field {
	float: left;
	width: 30px;
	height: 30px;
	border-width: 1px;
	border-style: solid;
}

#header_answer {
	width: 60%;
}

#header_question {
	width: 60%;
}

.letter_container {
	position: absolute;
	text-align: center;
	width: 30px;
	height: 20px;
	top: 7px;
	left: 0px;
}

.letter_input_field {
	width: 15px;
}

.number_container {
	position: absolute;
	font-size: 7pt;
	width: 28px;
	height: 7px;
	top: 0px;
	left: 0px;
	padding-left: 2px;
}

#questions_table {
	width: 100%;
	border-width: 3px;
	border-style: solid;
}

.table_header {
	padding: 5px;
	font-weight: bold;
	margin-bottom: 0px;
}

.table_inputfield {
	width: 97%;
}

td {
	/*make text break up into lines rather than overflow*/
	word-break: break-word;
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
   -ms-word-break: break-all;
   word-break: break-all;
   word-wrap: break-word;
}