/*************************************************************************************************************************
GENERAL STYLE SHEET
- contains styles used by all test type sections and styles for header, footer etc.
*************************************************************************************************************************/

/*************************************************************************************************************************

/*Color Scheme - use these classes for setting any colors dynamically*/

.bg-theme-color { /*color of headers etc. -> can be set by user, standard: turquoise*/
	background-color: #4EBABA; 
}
.border-theme-color {
	border-color: #4EBABA; 
}
.font-theme-color {
	color: #4EBABA; 
}

.bg-color-1 { /*color of body background etc., dark grey*/
	background-color: #666666; 
}
.border-color-1 {
	border-color: #666666; 
}
.font-color-1 {
	color: #666666; 
}

.bg-color-2 { /*color of buttons etc., medium grey*/
	background-color: #848484; 
}
.border-color-2 {
	border-color: #848484; 
}
.font-color-2 {
	color: #848484; 
}

.bg-color-3 { /*color of sections etc., light grey*/
	background-color: #E5E5E5; 
}
.border-color-3 {
	border-color: #E5E5E5; 
}
.font-color-3 {
	color: #E5E5E5; 
}

.bg-color-4 { /*color of content of tables etc., white*/
	background-color: white; 
}
.border-color-4 {
	border-color: white; 
}
.font-color-4 {
	color: white; 
}

.bg-color-5 { /*color of errors etc., dark red*/
	background-color: #AE0000; 
}
.border-color-5 {
	border-color: #AE0000; 
}
.font-color-5 {
	color: #AE0000; 
}

/* ADDITIONAL COLORS (only used in pictures):
- #32CD32: green (correct answers etc.)*/

/*************************************************************************************************************************/

body {
	font-family: Calibri, "Trebuchet MS", sans-serif;
	text-align: justify;
  	background-color: #666666;
	margin: 0;
}

header, section, footer, aside, nav, main, article, figure { /*ensure HTML5 semantic elements to be displayed correctly in old browsers*/
    display: block; 
}

#js_warning {
	text-align: center;
	font-weight: bold;
}

#content {
	width: 850px;
	margin: 0 auto;
	background-color: white;
	padding: 0px 17px;
	display: none; /*hidden initially - test for JavaScript*/
	min-height: 100vh;
}

section {
	clear: both;
	margin-bottom: 17px;
	padding: 17px;
	background-color: #E5E5E5;
}

.section_without_padding {
	padding: 0px;
}

header, footer {
	margin: 0px;
	color: white;
	padding: 5px;
}

footer {
	text-align: center;
	background-color: #848484;
}

footer a {
	color: #E5E5E5;
}

#title_header {
	margin-bottom: 17px;
	font-size: 2em;
}

table {
    border-collapse: collapse;
    background-color: white;
}

table, th {
	border: 3px solid;
}

th {
   	color: white;
    text-align: left;
}

th, td {
	padding: 5px;
}

.right_aligned {
	text-align: right;
}

.centered {
	text-align: center;
}

label {
	cursor: pointer;
}

a {
	color: #666666;
	cursor: pointer;
}

button {
	cursor: pointer;
}

.submit_button {
	margin-right: 10px;
	margin-top: 10px;
	border: 0px;
	background-color: #848484;
	color: white;
	border: 2px solid #848484;
}

.submit_button:enabled {
	cursor: pointer;
}

.submit_button:disabled {
	opacity: 0.5;
}

.error_msg {
	font-style: italic;
	color: #AE0000;
	display: inline;
}

.hidden {
	display: none;
}

div .css_table {
	display:table;
}
div .css_tr {
	display: table-row;
}
div .css_td {
	display: table-cell;
	padding: 3px;
}