/*************************************************************************************************************************
DRAG&DROP STYLE SHEET
- contains styles used for Drag&Drop tests
*************************************************************************************************************************/

.container {
	border-width: 3px;
	border-style: solid;
	display: -webkit-flex; /*for Safari*/
	-webkit-flex-flow: column;
	-moz-flex-flow: column;
	display: flex;
	flex-flow: column;
	margin: 3px;
}

.container_box {
	margin-top: 0px;
	padding: 2px 2px 30px 2px;
}

.container_label {
	display: inline;
}

#containers_container {
	width: 100%;
	display: -webkit-flex; /*for Safari*/
	-webkit-align-items: flex-start;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	display: flex;
	align-items: flex-start; /*forces items to be aligned at top of container, otherwise line-breaks cause problems*/
	flex-flow: row wrap;
}

.delete_button {
	display: none;
	float: right;
	cursor: pointer;
}

[draggable=true] {
	cursor: move; /*fallback for IE*/
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.item_box {
	margin: 3px;
	padding: 3px;
	display: inline;
	font-size: 0.9em;
	border-width: 3px;
	border-style: solid;
}

#items_container {
	min-height: 50px;
}

.label_box {
	padding: 5px;
	font-weight: bold;
	margin-bottom: 0px;
	overflow: hidden;
}

.test_item {
	display: inline;
}

.test_item, .container_label {
	/*make text break up into lines rather than overflow*/
	word-break: break-word;
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
   -ms-word-break: break-all;
   word-break: break-all;
   word-wrap: break-word;
}