/*************************************************************************************************************************
INDEX PAGE STYLE SHEET
- contains styles used by index page
*************************************************************************************************************************/

#button_container {
	clear: both;
}

#select_test_table {
	float: left;
	width: 603px;
	margin-right: 10px;
}

#select_test_tablehead {
	display: block;
	cursor: pointer;
}

#sort_pic {
	display: inline;
}

td {
	/*make text break up into lines rather than overflow*/
	word-break: break-word;
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
   -ms-word-break: break-all;
   word-break: break-all;
}

.test_creation_column {
	width: 113px;
}

#test_creation_header {
	width: 133px;
}

.test_name_column {
	width: 266px;
}

#test_name_header {
	width: 284px;
}

.test_row {
	cursor: pointer;
}

#test_row_container {
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden; /*allow scrolling inside table, when a lot of tests in table - this is the reason why widths below must be fixed*/
	display: block;
}

.test_type_button {
	width: 178px;
	min-height: 150px;
	border-width: 3px;
	border-style: solid;
	margin: 17px;
	padding: 10px 5px;
	text-align: center;
}


.test_type_column {
	width: 172px;
}

.test_type_description {
	clear: both;
	padding: 0px 17px 17px 17px;
	display: none;	
}

#test_type_header {
	width: 186px;
}

.test_type_icon {
	margin-bottom: 5px;
}

#type_button_container {
	display: flex;
	align-items: flex-start; /*forces items to be aligned at top of container, otherwise line-breaks cause problems*/
}