/*************************************************************************************************************************
DRAG&DROP STYLE SHEET
- contains styles used for Drag&Drop tests
*************************************************************************************************************************/

.test_item, .container_label {
	/*make text break up into lines rather than overflow*/
	word-break: break-word;
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
   -ms-word-break: break-all;
   word-break: break-all;
}

.test_item {
	display: inline;
}

.item_box {
	margin: 3px;
	padding: 3px;
	display: inline;
	font-size: 0.8em;
	border-width: 3px;
	border-style: solid;
}

#items_container {
	min-height: 50px;
}

#container_table {
	width: 800px;
}

.container_label {
	display: inline;
}

.label_box {
	padding: 5px;
	font-weight: bold;
	margin-bottom: 0px;
}

.container_box {
	margin-top: 0px;
	padding: 2px 2px 30px 2px;
}

.container {
	border-width: 3px;
	border-style: solid;
}

[draggable] {
	cursor: move; /*fallback for IE*/
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.delete_button {
	display: none;
	float: right;
	cursor: pointer;
}
