/*************************************************************************************************************************
GENERAL STYLE SHEET
- contains styles used by all test type sections and styles for header, footer etc.

Color Scheme:
------------------------
- #ECAA5B: ocher (buttons, links etc.) 
- #006093: blue (headers, footer etc.)
- #D2D7D9: light grey (sections etc.)
- #F9E9D5, #C3B9AE: light ocher (background gradient)
- #AE0000: dark red (errros etc.)
- #32CD32: green (correct answers etc.)
*************************************************************************************************************************/

body {
	font-family: Calibri, "Trebuchet MS", sans-serif;
	text-align: justify;
	background: -webkit-linear-gradient(#F9E9D5, #C3B9AE); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#F9E9D5, #C3B9AE); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#F9E9D5, #C3B9AE); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#F9E9D5, #C3B9AE); /* Standard syntax */
	margin: 0;
}

header, section, footer, aside, nav, main, article, figure { /*ensure HTML5 semantic elements to be displayed correctly in old browsers*/
    display: block; 
}

#js_warning {
	text-align: center;
	font-weight: bold;
}

#content {
	width: 850px;
	margin: 0 auto;
	background-color: white;
	padding: 0px 17px;
	display: none; /*hidden initially - test for JavaScript*/
	min-height: 100vh;
}

section {
	clear: both;
	margin-bottom: 17px;
	padding: 17px;
	background-color: #D2D7D9;
}

.section_without_padding {
	padding: 0px;
}

header, footer {
	margin: 0px;
	background-color: #006093;
	color: white;
	padding: 5px;
}

footer {
	text-align: center;
}

#title_header {
	margin-bottom: 17px;
	font-size: 2em;
}

table {
    border-collapse: collapse;
    background-color: white;
}

table, th {
	border: 3px solid #006093;
}

th {
    background-color: #006093;
    color: white;
    text-align: left;
}

th, td {
	padding: 5px;
}

.right_aligned {
	text-align: right;
}

.centered {
	text-align: center;
}

label {
	cursor: pointer;
}

a {
	color: #ECAA5B;
	cursor: pointer;
}

button {
	cursor: pointer;
}

.submit_button {
	margin-right: 10px;
	margin-top: 10px;
	border: 0px;
	background-color: #ECAA5B;
	/*color: white;*/
	border: 2px solid #ECAA5B;
}

.submit_button:enabled {
	cursor: pointer;
}

.submit_button:disabled {
	opacity: 0.5;
}

.error_msg {
	font-style: italic;
	color: #AE0000;
	display: inline;
}

.hidden {
	display: none;
}

div .css_table {
	display:table;
}
div .css_tr {
	display: table-row;
}
div .css_td {
	display: table-cell;
	padding: 3px;
}