/*************************************************************************************************************************
CROSSWORD STYLE SHEET
- contains styles used for crossword tests
*************************************************************************************************************************/

#instructions {
	margin-bottom: 5px;
	font-style: italic;
}

.table_header {
	color: white;
	background-color: #004A7F;
	padding: 5px;
	font-weight: bold;
	margin-bottom: 0px;
}

#header_question {
	width: 60%;
}

#header_answer {
	width: 60%;
}

#questions_table {
	width: 800px;
	border: 3px solid #004A7F;
	background-color: white;
}

.table_inputfield {
	width: 97%;
}

.filled_field, .empty_field {
	float: left;
	width: 20px;
	height: 20px;
	border: 1px solid black;
}

.empty_field {
	background-color: gray;
}

.filled_field {
	text-align: center;
}

.cw_row {
	display: flex;
}

sup {
	font-size: 7pt;
}