/*************************************************************************************************************************
DYNAMIC MULTIPLE CHOICE STYLE SHEET
- contains styles used for dynamic MC tests
*************************************************************************************************************************/

.add_incorrect {
	margin-left: 5px;
}

#add_question {
	margin-left: 5px;
}

.circle_img {
	margin-right: 5px;
}

.delete_answer_button {
	display: none;
}

.delete_answer_button, .delete_new_answer_button {
	text-align: right;
	cursor: pointer;
	font-weight: bold;
	margin-right: 5px;
}

.delete_question_button {
	display: none;
	float: right;
	cursor: pointer;
}

.editable_inputfield, .new_inputfield {
	width: 700px;
}

.incorrect_answer {
	min-width: 700px;
}

.label_box {
	padding: 3px;
	font-weight: bold;
	margin-bottom: 0px;
	border-width: 0px;
	border-style: solid;
}

.label_box, .css_td {
	/*make text break up into lines rather than overflow*/
	word-break: break-word;
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
   -ms-word-break: break-all;
   word-break: break-all;
}

.medium_cell {
	width: 12%;
}

.question {
	border-width: 3px;
	border-style: solid;
	margin-bottom: 10px;
} 

.question_box {
	margin-top: 0px;
	padding: 5px 0px;
}

.question_label, .radio_correct, .radio_incorrect {
	display: inline;
}

.question_table {
	width: 100%;
}

#select_question_from_db {
	width: 100%;
	overflow: auto;
}

.show_pic, .hide_pic {
	cursor: pointer;
}

.small_cell {
	width: 3%;
}